* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

.navbar {
  background-color: rgb(73, 73, 73);
  display: flex;
  flex-flow: row-reverse;
  padding: 0 0.5rem;
}
.menu {
  display: none;
  justify-content: space-between;
  list-style: none;
}
.hamburger {
  display: flex;
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.social {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 1rem 2rem;
}
main {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.product {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  align-items: center;
  padding: 0rem 2rem;
  margin: 0.2rem 0;
  border-radius: 0.2rem;
}

@media only screen and (min-width: 768px) {
  main {
    margin: 0 10%;
  }
  .product {
    border-color: rgb(180, 180, 180);
  }

  .social {
    border-top: 1px solid rgb(170, 170, 170);
  }

  header {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1025px) {
  main {
    flex-direction: row;
  }
  .product {
    margin: 0 0.2rem;
  }

  .social {
    justify-content: space-around;
  }
  header {
    justify-content: space-evenly;
  }
  .menu {
    display: flex;
    color: white;
    width: 40%;
    justify-content: space-evenly;
  }
  .hamburger {
    display: none;
  }
}
